@import 'normalize.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


body {
	font-family: 'Roboto', sans-serif;
}

.month-name,
.prev-month,
.next-month,
.weekday,
.cell,
.empty-cell,
.event-underline,
.deadline-underline,
.webinar-underline,
.lecture-underline,
.workshop-underline,
.trainer {
	display: inline-block;
}

.prev-month:hover,
.next-month:hover,
.prev-month:focus,
.next-month:focus,
.modal-header .close,
.event-cover,
.event,
.deadline,
.lecture,
.workshop,
.webinar,
.modal-title,
.modal-footer .btn {
	color: #fff;
}

.prev-month:hover,
.next-month:hover,
.prev-month:focus,
.next-month:focus,
.lecture,
.modal-footer .btn:hover,
.modal-footer .btn:focus {
	background-color: #5c5b5b;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:default:hover,
.btn:default:focus,
.btn:default:active,
.btn-default:active:focus,
.btn .cell:focus {
	cursor: default;
	border-color: none;
	outline: none;
	outline-offset: 0;
}

.loading-indicator {
	margin: 50px auto;
	display: block;
}

#root,
.calendar {
	max-width: 1440px;
}

#root {
	margin: 0 auto;
}

.calendar {
	width: 100%;
	margin: 20px 0;
}

.month-name {
	font-size: 31px;
	font-weight: 500;
	margin-left: 8px;
}

.navigation {
	float: right;
	margin-top: 6px;
}

.prev-month,
.next-month {
	font-size: 15px;
	letter-spacing: 1.5px;
	padding: 4px 18px;
	border: 1px solid black;
}

.prev-month {
	border-right: none;
	border-radius: 4px 0 0 4px;
}

.next-month {
	border-radius: 0 4px 4px 0;
}

.weekdays {
	margin-top: 10px;
}

.weekday {
	font-size: 16px;
	font-weight: 500;
	width: 14.28%;
	padding: 5px 0 5px 8px;
}

.prev-month-dates,
.next-month-dates,
.current-month-dates {
	display: inline;
}

.cell {
	width: 100%;
	height: 150px;
	background-color: #fff;
}

.btn .cell {
	padding: 0 8px;
	border: none;
}

.prev-month-dates .cell,
.next-month-dates .cell {
	background-color: #f3f3f3;
}

.day {
	font-size: 23px;
	text-align: left;
	margin: 4px 0 20px 0;
}

.current-date {
	display: table;
	font-weight: 500;
	color: #fff;
	background-color: darkgray;
	padding: 4px 7px;
	margin-bottom: 12px;
	border-radius: 50%;
}

.event-cover {
	border-radius: 4px;
	overflow: hidden;
}

.cell .event,
.cell .deadline,
.cell .lecture,
.cell .workshop,
.cell .webinar {
	cursor: pointer;
	transition: all 0.15s;
}

.cell .event:hover,
.cell .deadline:hover,
.cell .lecture:hover,
.cell .workshop:hover,
.cell .webinar:hover,
.cell .event:focus,
.cell .deadline:focus,
.cell .lecture:focus,
.cell .workshop:focus,
.cell .webinar:focus {
	box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.25);
	transform: translateY(-5px);
}

.event-underline,
.deadline-underline,
.webinar-underline,
.lecture-underline,
.workshop-underline {
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.event {
	background-color: #029ae4;
}

.event-underline {
	border-bottom-color: #029ae4;
}

.deadline {
	background-color: #f05722;
}

.deadline-underline {
	border-bottom-color: #f05722;
}

.webinar {
	background-color: #33b679;
}

.webinar-underline {
	border-bottom-color: #33b679;
}

.lecture-underline {
	border-bottom-color: #5c5b5b;
}

.workshop {
	background-color: #ffb837;

}

.workshop-underline {
	border-bottom-color: #ffb837;
}

.modal-container {
	display: inline;
}

.modal-container .btn {
	height: 100%;
	width: 14.28%;
	padding: 0;
	border-radius: 0px;
}

.modal-dialog {
	max-width: 850px;
	width: 95%;
}

.modal-content {
	border: none;
}

.modal-body,
.modal-title {
	padding-left: 30px;
}

.modal-body {
	padding-right: 30px;
}

.modal-header .close {
	margin-top: 1px;
	margin-right: 10px;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	font-weight: 500;
}

.trainer {
	margin-right: 30px;
	margin-bottom: 15px;
}

.modal-body ul {
	padding-left: 0;
}

.modal-body li {
	list-style-type: none;
}

.modal-footer .btn:hover {
	cursor: pointer;
}

.message {
	text-align: center;
}

.form-horizontal .btn {
	width: 100%;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
	background-color: #fff;
	cursor: pointer;
}

.conventions {
	display: none;
}


@media (max-width: 1440px) {
	.navigation {
		margin-right: 15px;
	}
}

@media (max-width: 992px) {
	.cell {
		height: 125px;
	}
	
	.day {
		margin-bottom: 15px;
	}
	
	.current-date {
		margin-bottom: 7px;
	}
}

@media (max-width: 768px) {
	.calendar {
		margin: 5px 0;
	}
	
	.navigation {
		margin-right: 8px;
	}
	
	.cell {
		height: 105px;
	}
	
	.day {
		margin-bottom 8px;
	}
	
	.event-cover {
		border-radius: 50%;
	}
	
	.cell .event,
	.cell .deadline,
	.cell .lecture,
	.cell .workshop,
	.cell .webinar {
		width: 25px;
		height: 25px;
		margin: 0 auto;
	}
	
	.event {
		color: #029ae4;
	}
	
	.deadline {
		color: #f05722;
	}

	.lecture {
		color: #5c5b5b;
	}
	
	.webinar {
		color: #33b679;
	}

	.workshop {
		color: #ffb837;
	}
	
	.conventions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.conventions-item {
		display: flex;
		align-items: center;
		margin: 10px;
	}
	
	.conventions-item div {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-right: 10px
	}
}
